*{
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
    
}
@font-face {
    font-family: "byekan";
    src: url(../fonts/Yekan.woff);
}
body{
    font-family: "byekan"; 
}
h2{
    color: brown;
    padding: 0;
}
h3{
    color: rgb(173, 116, 116);
}
li{
    list-style-type: disc;
    margin: 0px;
}